@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.main {    
    max-height: 800;
    overflow-y: auto;
    padding: 0 10px 10px 10px;    
}


.title {    
    text-align: center;
    background-image: linear-gradient(135deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%);
    margin-top: 0;
    /* margin-bottom: 10px; */
    padding: 10px 5px;    
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.title-image {
    position: absolute;
    left: 20px;  
    height: 40px;  
}

.buttons {    
    width: 100%;    
    display: flex;    
    align-items: flex-start;    
    justify-content: space-between;
}

.section {
    flex: 1; /* Garante que os elementos ocupem a mesma largura */
    max-width: 500px;    
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;        
    margin: 10px 5px; /* Ajuste para equalizar margens */
    transition: all 0.2s ease; 
}

.section:hover {
    background-color: #4E76D0;  
    
}

.section h2 {
    font-size: 1rem;
    color: #4E4E4E;
    padding: 10px;    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-align: center; /* Centraliza o texto */
}

.section h2:hover {    
    color: #fff;    
    transition: all 0.2s ease;
}

.conteudos {
    display: flex; /* Flexbox para alinhar itens lado a lado */
    gap: 5px;   
    margin: 0 5px; 
}

.content-principal {
    width: 300px; /* Largura fixa ou ajustável */
    min-width: 300px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 5px;
    /* Mantém o estilo do scroll */
    scrollbar-width: thin;
    scrollbar-color: #4e75d098 #f0f0f0;
}

/* Compatibilidade com navegadores baseados em WebKit (Chrome, Edge, Safari) */
.content-principal::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.content-principal::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor da trilha */
    border-radius: 5px; /* Deixa a trilha arredondada */
}

.content-principal::-webkit-scrollbar-thumb {
    background-color: #4e75d098; /* Cor do scroll */
    border-radius: 5px; /* Deixa o scroll arredondado */
    border: 2px solid #f0f0f0; /* Adiciona um espaço entre o thumb e a trilha */
}

.content-principal::-webkit-scrollbar-thumb:hover {
    background-color: #3658a89f; /* Cor ao passar o mouse no scroll */
}

.content-horarios {
    flex: 1; /* Ocupa o restante do espaço disponível */    
    height: 600px; /* Altura para manter alinhado com o outro conteúdo */
    border-radius: 5px; /* Opcional */
    overflow-y: auto; /* Se necessário, permite scroll vertical */
}

.medicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;   
    background-color: #e7e6e6; 
    padding: 8px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #e0e0e0e8;
}

.medicos h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #4E4E4E;
}

.list-medicos {
    background-color: #f5f4f4;   
    height: 100px;
    padding: 10px 0 0 10px;
    display: flex;
    border-bottom: 1px solid #e7e6e6; 
}

.list-medicos:hover {
    background-color: #e7e6e6;
    cursor: pointer;
}


.list-medicos h2 {
    font-size: 0.8rem;
    color: #4E4E4E;   
}

.list-medicos h2, h3 {
    margin-top: 3px;
    font-size: 0.9rem;
    color: #747272;  
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffffbd;
    background-color: #e7e6e6;
    border-radius: 50%;
    width: 45px;
    height: 45px;    
}

.icon i {
    color: #fff;
    font-size: 20px;
}

.dados {
    margin-left: 10px;
}

.dados h1{    
    font-size: 0.9rem;
    color: #4E4E4E;  
}

.content-horatios {
    background-color: #747272;
    height: 500px;
}

/* DIAS DA SEMANA */



/* INÍCIO AJUSTES HORÁRIOS AGENDADOS */

.pai {
    display: flex;
    overflow-x: auto;
    max-height: 600px; /* Limita a altura máxima */
    height: 600px; /* Garante altura consistente */ 
    white-space: nowrap;
    cursor: grab;
    user-select: none;
}

.content-horarios-agendados {
    overflow: auto; /* Adiciona o scroll vertical */
    max-height: 600px; /* Limita a altura máxima */
    height: 600px; /* Garante altura consistente */
    width: 300px;
    min-width: 300px;
    border-radius: 5px;
    /*padding: 5px;  Adiciona espaço interno para evitar que o conteúdo toque nas bordas */
    box-sizing: border-box; /* Garante que padding não afete largura total */
    margin-right: 5px;

    display: flex;
    flex-wrap: nowrap;
}

.icons-pacientes {
    cursor: pointer;
}

.horarios {
    width: 300px;
    min-width: 300px;
    max-height: 600px;
    overflow-y: auto;
}

.list-pacientes {
    background-color: #fdfdfd;
    height: 100px; /* Mantém a altura consistente para cada item */
    padding: 10px;
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */      
    border: 1px solid #e7e6e6;
    min-width: 300px;
    margin-right: 10px;
}

.list-pacientes:hover {
    background-color: #e7e6e6;    
}

.list-pacientes h2 {
    font-size: 0.8rem;
    color: #4E4E4E;   
}

.list-pacientes h2, h3 {
    margin-top: 3px;
    font-size: 0.9rem;
    color: #747272; 
    font-weight: 450; 
}

.horarios-agendados {
    margin-left: 10px;
}

.horarios-agendados h1 {    
    font-size: 0.9rem;
    color: #4E4E4E;  
}

